import './{{pascalCase name}}.css';

const {{pascalCase name}}: React.FC = () => {
  return (
    <div>
      <h1>{{pascalCase name}} Page</h1>
    </div>
  );
};

export default {{pascalCase name}};
